body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    /* background-image: url('/images/groceries.jpg'); */
    /* background-position:center; ; */
    /* background-size: cover; */
}

.input-section{
    /* border: 1px solid black; */
    padding: 10px;
    margin-bottom: 10px;
}

ul{
    list-style-type: disc;
    padding: 0px;
    text-align: left;
}

li{
    margin-bottom: 10px;
}

button{
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}
