body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
    background-image: url('/images/groceries.jpg');
    background-position:center; ;
    background-size: cover;
}

input#itemInput{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

button#addItemButton {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
}

button#markPurchasedButton{
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    color: purple;
}

button#clearListButton {
    cursor: pointer;
    color: red;
    padding: 10px;
    margin: 5px ;
    border: 1px solid black;
    border-radius: 10px;
}