body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    background-image: url('/images/groceries.jpg');
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

button#addItemButton {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
}

button#clearListButton {
    cursor: pointer;
    color: red;
    padding: 10px;
    margin: 5px ;
    border: 1px solid black;
}