body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: bisque;
    color: blue;
    user-select: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
   display: grid;
}

.container{
   background-color: whitesmoke;
   
}

h1{
  text-align: left;
  font-size: 30px;
}

#addItemForm #itemInput{
  padding: 15px;
  border-radius: 25px;
}

#addItemButton:hover{
   background-color: #73a8e0;
}

#action-buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

/* .container img{
  height: 10%;
  width: 80%;
  mask-origin:fill-box;
  position: relative;
} */
.container button{
    padding: 14px;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
    background-position:center; ; 
    background-size: cover; 
    cursor: pointer;
    margin-right: 150px;
    position: relative;
   }

.listContainer ul#itemList li{
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
  padding: 5px 20px;
  margin-bottom: 0.5rem;
  position: relative;
  width:fit-content
}

#itemInput, #itemList li {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    font-size: 18px;
}

.purchased {
    text-decoration: line-through;
    color: red;
}